

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/COMPONENTS/app/GestionVehiculos/nbproject/private/
/COMPONENTS/app/AppVehiculos/nbproject/private/
/COMPONENTS/app/AppVehiculos/build/
/COMPONENTS/app/AppVehiculos/dist/